/* Hero Section */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
             url('./visax-XCT2NiGZwbw-unsplash.jpg');
  opacity: 85%;           
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust height as needed */
  min-height: 500px;
}
/* Hero 1: Image Parallax */
        .hero-1 {
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                        url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?w=1920&h=1080&fit=crop');
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }